.a-his {
  margin: 20px;
}

.a-histable {
  width: 100%;
  border-collapse: collapse;
}

.a-histable th,
.a-histable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.a-histable th {
  background-color: #f2f2f2;
}