.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group select,
.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.container{
  display: flex;
}
.partleft {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  max-width: 400px;
  margin-right: 90px;
}

.window {
  width: 300px;
  height: 150px;
  margin-bottom: 10px;
  
} 

.button {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.button img {
  max-width: 100px; /* Ajustez la taille de l'image selon votre besoin */
  max-height: 100px;
  display: block;
  margin: 0 auto 10px; /* Centrer l'image */
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




/* deuxieme partie */

.partright {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-left: 5px;
  
  width: 100%;
  min-width: 300px;
}

.history-table {
  width: 100%; /* Largeur de 100% pour occuper tout l'espace disponible */
  border-collapse: collapse; /* Fusionner les bordures des cellules */
}

.history-table th,
.history-table td {
  border: 1px solid #ddd; /* Ajoute une bordure à toutes les cellules */
  padding: 8px; /* Ajoute de l'espace à l'intérieur des cellules */
  text-align: left; /* Alignement du texte à gauche */
}

.history-table th {
  background-color: #f2f2f2; /* Couleur de fond pour les en-têtes */
}

.history-table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Couleur de fond pour les lignes paires */
}



