.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Centrer le contenu */
}
h1{
  margin-bottom: 50px;
  display: flex;
  align-items: start;
}

.profile-title {
  text-decoration: underline; /* Souligner le titre */
}

.user-info {
  display: flex;
  align-items: start;
  width: 100%;
}
.btns {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.btns button {
  margin-left: 0px;
  margin-right: 3px;
}

.input-label {
  margin-bottom: 20px; 
  width: 50%;
  display: flex;
  align-items: start;
}

.inputmode {
  display: flex;
  align-items: end;
  width: 50%;
}

.input-label input {
  margin-right:20px;
  margin-left: 14px;
}

.input-label button {
  padding: 5px 10px;
  background-color:black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-label button:hover {
  background-color: #0056b3;
}